
body
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(255, 0, 191, 0.349), rgba(0, 0, 255, 0.486));
    background-repeat: no-repeat;
    color:black;
}
h1
{
    text-align: center;
    margin-top: 1in;
}
.counter
{
    margin-top: 0.5in;
    display: flex;
    justify-content: center;
    gap: 0.5in;
}
#subcount, #valcount, #addcount
{
    font-size: 0.229in;
    width: 2in;
    text-align: center;
    height: 0.5in;
    background-color: azure;
}
#subcount, #addcount, #reset
{
    width: 1in;
    font-weight: bolder;
    font-size: x-large;
}
#reset
{
    display: block;
    width: "100px";
    padding: "4px";
    font-size: "25px";
    font-weight: "800";
}
.ul li, li
{
    list-style-type: none;
    background: linear-gradient(to top, rgba(5, 223, 23, 0.534), rgba(129, 243, 247, 0.308));
    padding: 2px;
    font-weight: 600;
    font-size: larger;
}
ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
li:hover
{
    color: rgb(39, 5, 34);
}
form input, label
{
    font-size: larger;
    padding: 7px;
    color: black;
}
form input
{
    left: 2in;
}
input::placeholder
{
    color:rgb(0, 0, 0);
}
.fetch, .fetchimg
{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    color: black;
    gap: 15px;
}
.fetch li
{
    background: linear-gradient(to left bottom, rgba(13, 142, 216, 0.774), rgb(255, 255, 255));
    color:rgba(1, 3, 1, 0.753);
    width: 1in;
    text-align: center;
    padding: 3px;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.452);
    box-sizing: border-box;
}
.fetch div label
{
    visibility: collapse;
}
label
{
    font-family:'Lucida Calligraphy';
    font-weight: bold;
    outline: none;
    display: block;
    box-sizing: border-box;
    width: 2in;
    height: 2in;
    background: linear-gradient(to left bottom, rgba(4, 21, 31, 0.774), rgb(255, 255, 255));
}
.image #url:hover
{
    color:rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#val
{
    color: black;
    background: none;
    margin-top: 1in;
}
#b
{
    box-sizing: none;
    width: 15px;
    height:15px;
    margin-left: 0.3in;
    background: none;
}
.show
{
    display: flex;
    justify-content: center;
}
.show #showmore
{
    font-size: larger;
    font-weight: 600;
    background-color: blanchedalmond;
    border: none;
    padding: 7px;
    box-shadow: 0 0 5px 4px rgb(109, 221, 109) inset;
    cursor: pointer;
}
.fetchimg figure:hover
{
    scale: 0.9;
}
:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgb(168, 245, 255);
	--c2: rgba(168, 239, 255, 0.1);
}
figure {
	border: 0.35rem solid;
	padding: 3px;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}
@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}
@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
  